<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Give+You+Glory" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>
        D&P - We sell little girls
    </title>
</head>
<body>
<nav>
    <ul>
        <li><a href="http://127.0.0.1:5000/">D&amp;P</a></li>
        <li><a href="http://127.0.0.1:5000/producten">Producten</a></li>
        <li><a href="#">Contacteer ons</a></li>
        <li class="right"><a href="http://127.0.0.1:5000/contact">About</a></li>
    </ul>
</nav>
<main>
    {% block main %}{% endblock %}
</main>
</body>
</html>